body {
  background-image: linear-gradient(to right, #e7717d, #3eca55);
  width: 90%;
  height: 100%;
  margin: auto;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

.navBar {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
}

.navBar > a {
  background-color: #0a1750d2;
  font-weight: bold;
  flex: 1;
  justify-content: space-evenly;
  margin: 0px 10px 20px 10px;
  padding: 4px 0;
  text-align: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border-radius: 25px;
}

.firstImg {
  display: flex;
  height: 305px;
  margin-bottom: 20px;
}

.firstImg > .img1 {
  flex: 2;
  margin-right: 20px;
  position: relative;
}

.firstImg > .img1 > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.prices {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.price1 {
  background-color: #0a17509d;
  color: white;
  flex: 1;
  margin-bottom: 10px;
  border-radius: 25px;
}

.price2 {
  background-color: #0a17509d;
  color: white;
  flex: 1;
  margin-top: 10px;
  border-radius: 25px;
}

.price1 > p,
.price2 > p {
  text-align: center;
  font-weight: 900;
}

.priceFormat {
  font-size: 30px;
}

.menuBar {
  display: flex;
  justify-content: space-between;
}

.menuBarImg {
  background-color: #dd9f2b9d;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: 180px;
}

.flexImages {
  max-height: 100px;
  max-width: 90px;
  align-self: center;
  margin-top: 10px;
  flex: 1;
}

.flexImages > img {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  object-fit: fill;
}

.menuBarImg p {
  text-align: center;
  margin: auto 10px;
}

.itemName {
  font-weight: 900;
}

.img2Text > p {
  font-size: 25px;
}

.description {
  font-size: 13px;
}

.menuBar div {
  flex-basis: 24%;
  border-radius: 25px;
}

.secondImg {
  display: flex;
  background-color: #0a17509d;
  padding: 35px;
  border-radius: 25px;
}

.img2 {
  width: 250px;
  height: 250px;
  flex: 1;
}

.img2 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.img2Text {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  margin-top: 20px;
  margin-left: 40px;
}

.img2Text a {
  background-color: #c2cad0de;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 13px;
  font-weight: bold;
  border-radius: 25px;
}

.descriptionContainer {
  width: 300px;
  font-weight: bold;
}

.separator {
  text-align: center;
  display: flex;
}

.moreElements {
  flex: 1;
  font-weight: 500;
}

.separator1 {
  flex: 3;
  background-image: linear-gradient(to right, #e7717d, #ddb636);
  margin: 20px 0px;
  border-radius: 25px;
}

.separator2 {
  flex: 3;
  background-image: linear-gradient(to right, #ddb636, #3eca55);
  margin: 20px 0px;
  border-radius: 25px;
}

.mainFooter {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.mainFooter > img {
  flex-basis: 15%;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  margin-right: 15px;
  border-radius: 25px;
}

.floater1 {
  padding: 8px;
  background-color: #0a17509d;
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 60px;
  left: 10px;
  border-radius: 25px;
}

.floater2 {
  padding: 8px;
  background-color: #0a17509d;
  color: white;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 120px;
  left: 10px;
  border-radius: 25px;
}
